<h1 class="page-title">Dinosaurs</h1>
<a href="<%= new_dinosaur_path %>" class="new">New Dinosaur</a>
<main class="col-10">
  <!-- here come the main -->
  <% @dinosaurs.each do |dinosaur| %>
  <article class="col-3 valley">
    <%= image_tag dinosaur.image_url %>
    <h1><%= dinosaur.name %></h1>
    <p class="col-12">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <a href="<%=dinosaur_path(dinosaur.id) %>" class="col-12">Learn more</a>
  </article>

  <% end %>
  </main>

  <footer class="col-12">
    <!-- here come the footer -->
    &#169; 2016 Valley of Dinos
  </footer>
